header {
  height: 100vh;
  min-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main-container {
  display: block;
  height: 100vh;
  min-height: 750px;
}

.colored-bar {
  position: absolute;
  height: 80vh;
  width: 0.3em;
  top: 70px;
  background-color: var(--custom-pink);
}

.title--container {
  padding-left: 8%;
  padding-top: 4%;
  display: flex;
}

.title--ul {
  list-style: none;
  font-size: 4rem;
  color: var(--neon-yellow);
  font-weight: 800;
}

.title--ul li {
  padding-top: 10px;
  /* text-shadow: 1px 1px 0 white; */
}

.main--img {
  position: relative;
  height: 80%;
  width: 45%;
  margin: auto;
  z-index: 1;
}

@media screen and (max-width: 680px) {
  .title--container {
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
  }

  .title--ul {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 8%;
  }

  .main--img {
    width: 70%;
  }
}

@media screen and (max-width: 585px) {
  .main--img {
    margin-top: 7%;
    height: 35%;
    width: 85%;
  }

  .title--container {
    padding: 0;
    /* height: 80vh; */
  }
  .title--ul {
    justify-content: center;
  }
}

@media screen and (max-width: 380px) {
  .title--ul {
    font-size: 2.6rem;
  }
}

@media screen and (min-height: 750px) and (max-height: 1500px) and (max-width: 420px) {
  .title--container {
    height: 75vh;
  }

  .main--img {
    height: 50%;
    width: 100%;
  }
}

@media screen and (min-height: 750px) and (max-height: 1500px) and (min-width: 720px) and (max-width: 913px) {
  .title--container {
    height: 65vh;
  }

  .main--img {
    height: 50%;
    width: 60%;
  }
}

/* @media screen and (min-height: 750px) and (max-height: 1500px) and (max-width: 420px) {
  .title--container {
    height: 75%;
  }

  .title--ul li {
    font-size: 3.8rem;
  }

  .main--img {
    height: 40%;
    width: 90%;
  }
} */
