header {
  height: 100vh;
}

.title--container {
  padding-left: 8%;
  padding-top: 4%;
  display: flex;
}

.title--ul {
  list-style: none;
  font-size: 4rem;
  color: var(--neon-yellow);
  font-weight: 700;
}

/* .title--ul li {
  text-shadow: 0 0 10px var(--neon-yellow);
} */

.main--img {
  position: relative;
  height: 80%;
  width: 45%;
  margin: auto;
  z-index: 1;
  animation: 5s linear infinite float;
}

@keyframes float {
  0% {
    transform: translateY(-1%);
  }

  50% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(-1%);
  }
}

@media screen and (max-width: 680px) {
  .title--container {
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
  }

  .title--ul {
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 8%;
  }

  .main--img {
    width: 70%;
  }
}

@media screen and (max-width: 585px) {
  .main--img {
    margin-top: 15%;
  }

  .title--container {
    padding: 0;
  }
  .title--ul {
    justify-content: center;
  }
}

@media screen and (max-width: 380px) {
  .title--ul {
    font-size: 2.6rem;
  }
}
